.hero {
	background-color: #1d6ae5;
	margin-top: -1px;
}

.hero .container {
	position: relative;
	overflow: hidden;
}

.hero .container > *:not(.bg-holder) {
	position: relative;
	z-index: 5;
}

.bg-holder {
	background-image: url(../images/common/hero.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 900px;
	z-index: 2;
	transform: translateX(1%);

	background-position: right bottom;
	background-repeat: no-repeat;

	background-size: 660px;
}

.hero-text {
	padding-top: 70px;
	font-size: 110px;
	line-height: 85px;
	width: 100%;
	margin-bottom: 24px;
	margin-top: 40px;
}

.hero-text-castom {
	background-image: url(../images/common/underline.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	padding-bottom: 120px;
	font-size: 110px;
	line-height: 85px;

	margin-left: 30px;
}

.hero-main-text {
	display: inline-block;
	width: 565px;
	color: #fff;
	font-family: $font-family-primary;
	margin-left: 0px;
	padding-bottom: 40px;
}
.p-text {
	font-size: 24px;
	line-height: 34.8px;
	color: #fff;
	width: 471px;
	margin-left: 0;
	margin-bottom: 24px;
	font-family: $font-family-secondary;
}

.hero-button {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.hero-list-btn {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	font-family: inherit;
	text-align: center;
	background-color: #30363d;
	border: 0;
	cursor: pointer;
	font-family: $font-family-secondary;
	padding: 15px 50px;

	display: inline-block;
	border-radius: 5px;
	transition: background-color 0.15s ease-in;
	&:hover {
		background-color: #000;
		color: white;
	}
}
@media (max-width: 991px) {
	.hero-text {
		padding-top: 10px;
		font-size: 40px;
		line-height: 40px;
		width: 312px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.hero-main-text {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 400px;
		width: 50%;
		padding-top: 30px;
		margin-bottom: 30px;
	}

	.bg-holder {
		top: auto;
		bottom: 0;
		right: 50%;
		height: 100%;
		width: 600px;
		z-index: 0;
		transform: translate(calc(50% + 23px), 0);

		background-position: center bottom;

		background-size: 600px;
	}
	.hero-text-castom {
		font-size: 40px;
		width: 312px;
		margin-left: 10px;
		padding-bottom: 45px;
		line-height: 5px;
	}
}
@media (max-width: 597px) {
	.hero-text {
		padding-top: 10px;
		font-size: 40px;

		width: 298px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.hero-main-text {
		flex-direction: column;
		right: 18%;
		margin-left: auto;
		margin-right: auto;
		width: 136%;
	}

	.bg-holder {
		top: auto;
		bottom: 0;
		right: 50%;
		height: 100%;
		width: 600px;
		z-index: 3;
		transform: translate(calc(50% + 23px), 0);

		background-position: center bottom;

		background-size: 349px;
		overflow-x: hidden;
	}
	.hero-text-castom {
		font-size: 40px;
		width: 312px;
		margin-left: 10px;
		padding-bottom: 45px;
		line-height: 5px;
	}
	.p-text {
		font-size: 24px;
		line-height: 34.8px;
		color: #fff;
		width: 298px;
		margin-left: 0;
		margin-bottom: 24px;
		font-family: $font-family-secondary;
	}
}
