.img-journey {
	background-color: #caffdb;
	background-image: url("../images/common/bikers.svg");
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: bottom left 140%;
}
.img-jour {
	width: 80%;
	display: block;
}
.journey-h2 {
	margin-top: 0;
	font-family: $font-family-secondary;
	font-size: 28px;
	padding-top: 170px;
	margin-bottom: 20px;
}
.journey-p {
	margin-top: 0;
	font-family: $font-family-secondary;
	font-size: 16px;
	text-align: left;
	width: 500px;
	color: rgb(104, 108, 115);
}
.containertwo {
	display: inline-block;
	padding-bottom: 130px;
}

@media (max-width: 1440px) {
	.img-journey {
		background-color: #caffdb;
		background-image: url("../images/common/bikers.svg");
		background-repeat: no-repeat;
		background-size: 80% 80%;
		background-position: top 140% left 140%;
	}

	.journey-h2 {
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 28px;
		padding-top: 170px;
		margin-bottom: 20px;
	}
	.journey-p {
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 16px;
		text-align: left;
		width: 500px;
		color: rgb(104, 108, 115);
	}
	.containertwo {
		display: inline-block;
		padding-bottom: 130px;
	}
}
@media (max-width: 991px) {
	.img-journey {
		background-color: #caffdb;
		background-image: url("../images/common/bikers.svg");
		background-repeat: no-repeat;
		background-size: 70% 70%;
		background-position: center top 140%;
	}

	.journey-h2 {
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 28px;
		padding-top: 30px;
		margin-bottom: 20px;
	}
	.journey-p {
		margin-bottom: 80px;
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 16px;
		text-align: left;
		width: 500px;
		color: rgb(104, 108, 115);
	}
	.containertwo {
		display: inline-block;
		padding-bottom: 130px;
		margin-left: 60px;
	}
}

@media (max-width: 706px) {
	.img-journey {
		background-color: #caffdb;
		background-image: url("../images/common/bikers.svg");
		background-repeat: no-repeat;
		background-size: 50% 50%;
		background-position: center top 120%;
	}

	.journey-h2 {
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 28px;
		padding-top: 30px;
		margin-bottom: 20px;
	}
	.journey-p {
		margin-bottom: 80px;
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 16px;
		text-align: left;
		width: 500px;
		color: rgb(104, 108, 115);
	}
	.containertwo {
		width: 340px;
		display: inline-block;
		padding-bottom: 130px;
		margin-left: 60px;
	}
}
@media (max-width: 597px) {
	.img-journey {
		background-color: #caffdb;
		background-image: url("../images/common/bikers.svg");
		background-repeat: no-repeat;
		background-size: 50% 50%;
		background-position: center top 130%;
	}

	.journey-h2 {
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 18px;
		padding-top: 30px;
		margin-bottom: 20px;
		width: 300px;
	}
	.journey-p {
		margin-bottom: 80px;
		margin-top: 0;
		font-family: $font-family-secondary;
		font-size: 12px;
		text-align: left;
		width: 300px;
		color: rgb(104, 108, 115);
	}
	.containertwo {
		width: 400px;
		text-align: start;
	}
}
