section.hero
	div.container
		div.bg-holder
		div.hero-main-text
			h1.hero-text INVESTING MADE
				span.hero-text-castom BETTER
			p.p-text Meet the app that gives you the tools, inspiration, and advice you need to become a better investor.
			a.hero-list-btn(href="") Get started


