section.img-journey
	div.container
		h2.journey-h2 Taking care of your journey and creating wealth
		p.journey-p
			Smart investing, active management and easy access keeps Mayfair Brooks Markets
			investing simple and effective.Laser-focused on your financial goals, your portfolios are
			globally diversified and regularly adjusted by experts - all whilst you're enjoying the ride.









