

.backdropp.is-hidden(data-backdrop='static')
  .modal
    a.modal-close(data-close-modal='', href='')

    h3.modal-text Leave your details, we will call you back
    form.form-all(autocomplete='off')
      label.form-contact(for='name')
        input.form-contact-id(type='text', name='name', placeholder=' ')
        span.form-name Name

      label.form-contact(for='tel')
        input.form-contact-id(type='tel', name='tel', placeholder=' ')
        span.form-name Phone

      label.form-contact(for='mail')
        input.form-contact-id(type='email', name='email', placeholder=' ')
        span.form-name E-mail

      textarea#feedback.form-textarea(name='feedback', rows='10')
      label.checkbox
        input.check(type='checkbox')
        span.check-box
        span.check-name
          | I agree to the newsletter and accept
          a.check-text(href='') Terms of an agreement

      .button-flex
        button.button-form(type='submit', data-close-modal='')
         | Submit
