//- div.backdrop.is-hidden(data-backdrop='', data-close-modal='')
//- 		div.modal
//- 			a.modal-close(data-close-modal='', href='')
//- 				svg.close-icon(width='15', height='15')
//- 					use(href='./logo/symbol-defs.svg#icon-close')
//- 			h3.modal-text Оставьте свои данные, мы вам перезвоним
//- 			form.form-all(autocomplete='off')
//- 			label.form-contact(for='name')
//- 				input.form-contact-id(type='text', name='name', placeholder=' ')
//- 				span.form-name Имя
//- 					svg.form-icon(width='18', height='18')
//- 					 use(href='./logo/symbol-defs.svg#icon-name')
//- 			label.form-contact(for='tel')
//- 				input.form-contact-id(type='tel', name='tel', placeholder=' ')
//- 				span.form-name Телефон
//- 					svg.form-icon(width='18', height='18')
//- 						use(href='./logo/symbol-defs.svg#icon-phone')
//- 			label.form-contact(for='mail')
//- 				input.form-contact-id(type='email', name='email', placeholder=' ')
//- 				span.form-name Почта
//- 					svg.form-icon(width='18', height='18')
//- 						use(href='./logo/symbol-defs.svg#icon-mail')
//- 			textarea#feedback.form-textarea(name='feedback', rows='10')
//- 			label.checkbox
//- 				input.check(type='checkbox')
//- 					span.check-box
//- 					span.check-name	Соглашаюсь с рассылкой и принимаю
//- 						a.check-text(href='') Условия договора


.backdropp.is-hidden(data-backdrop='static')
  .modal
    a.modal-close(data-close-modal='', href='')

    h3.modal-text Leave your details, we will call you back
    form.form-all(autocomplete='off')
      label.form-contact(for='name')
        input.form-contact-id(type='text', name='name', placeholder=' ')
        span.form-name Name

      label.form-contact(for='tel')
        input.form-contact-id(type='tel', name='tel', placeholder=' ')
        span.form-name Phone

      label.form-contact(for='mail')
        input.form-contact-id(type='email', name='email', placeholder=' ')
        span.form-name E-mail

      textarea#feedback.form-textarea(name='feedback', rows='10')
      label.checkbox
        input.check(type='checkbox')
        span.check-box
        span.check-name
          | I agree to the newsletter and accept
          a.check-text(href='') Terms of an agreement

      .button-flex
        button.button-form(type='submit', data-close-modal='')
         | Submit
