section.input-s
	div.container
		p.input-sec-p Putting your money to work starts with you
		div.swiper-container
			div.swiper-wrapper

				div.swiper-slide
					h2.swiper-h2 Steady
					span.swiper-span 	You need to know your investment is the safest it can be.

				div.swiper-slide
					h2.swiper-h2 Focused
					span.swiper-span Knowing your investments are on track is key.

				div.swiper-slide
					h2.swiper-h2 Driven
					span.swiper-span You've got a plan and want to find ways to make it happen.


				div.swiper-slide
					h2.swiper-h2 Exploring
					span.swiper-span You're excited to find new opportunities for growth.

				div.swiper-slide
					h2.swiper-h2 Adventurous
					span.swiper-span You're ambitious, without losing sight of the bigger picture.

				div.swiper-slide
					h2.swiper-h2 Pioneering
					span.swiper-span You've an eye on the future but your primary focus is high achievement.
			div.srs.row
			div.swiper-pagination

		p.p-sec-input Whateveryour style,discover your investor profile and get </br> matched to your perfect portfolio
			div.form-radio-group-btn
				input.btn-input(data-open-modal	type='button', name='btn', value='discover your investor profile')
				label(for='btn')
				div.bg-btn




















