section.input-s
	div.container
		p.input-sec-p Putting your money to work starts with you
		b.input-sec-b Exploring
		p.input-secondary-p Youre excited to find new opportunities for growth
		div.form-radio-group
			div.form-radio-group-item
				input#radio-1(type='radio', name='radio', value='1', checked='')
				label(for='radio-1') Steady
			div.form-radio-group-item
				input#radio-2(type='radio', name='radio', value='2')
				label(for='radio-2') Focused
			div.form-radio-group-item
				input#radio-3(type='radio', name='radio', value='3')
				label(for='radio-3') Driven
			div.form-radio-group-item
				input#radio-4(type='radio', name='radio', value='4', checked='')
				label(for='radio-4') Exploring
			div.form-radio-group-item
				input#radio-5(type='radio', name='radio', value='5')
				label(for='radio-5') Adventurous
			div.form-radio-group-item
				input#radio-6(type='radio', name='radio', value='6')
				label(for='radio-6') Pioneering
		p.p-sec-input Whateveryour style,discover your investor profile and get </br> matched to your perfect portfolio
			div.form-radio-group-btn
				input.btn-input(data-open-modal	type='button', name='btn', value='discover your investor profile')
				label(for='btn')

