section.section-color-three
	div.container
		h2.text-h2 What makes Betterment better?
		div.sectionthree-block
			ul.three-list
				li.items
					span.span-items.headline1
						div.bg-blue.bg-size
							img.img-size(src="./images/common/icon-circle.svg", alt="")
						h3.info-text Built to make investing easy.
						p.info-p We'll guide you through portfolio options, risk levels, goal setting, and savings features.
				li.items
					span.span-items.headline2
						div.bg-green.bg-size
							img.img-size(src="./images/common/icon-bars.svg", alt="")
						h3.info-text Diversified investing.
						p.info-p Our portfolios are made of ETFs (rather than a few stocks) to help your money grow with less volatility.
				li.items
					span.span-items.headline3
						div.bg-yellow.bg-size
							img.img-size(src="./images/common/icon-dollar.svg", alt="")
						h3.info-text Transparent pricing.
						p.info-p Keep things simple with one low, annual fee of 0.25%.
				li.items
					span.span-items.headline4
						div.bg-yellow.bg-size
							img.img-size(src="./images/common/icon-charity.svg", alt="")
						h3.info-text Invest with your values.
						p.info-p Our Socially Responsible Investing helps you make an impact without sacrificing your performance goals.
				li.items
					span.span-items.headline5
						div.bg-blue.bg-size
							img.img-size(src="./images/common/icon-calculator.svg", alt="")
						h3.info-text Save on taxes.
						p.info-p Get automated and optimized tax strategies to help you take home more.
				li.items
					span.span-items.headline6
						div.bg-green.bg-size
							img.img-size(src="./images/common/icon-laptop.svg", alt="")
						h3.info-text Track your finances.
						p.info-p Connect all outside accounts and manage your financial life in one place.
