//- section.bg
//- 	div.container
//- 		div.btn-toolbar.custom-switch(role='toolbar', aria-label='Toolbar with button groups')
//- 			div.btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
//- 				div
//- 					button.btn.btn-secondary.custom-switch(type='button') STEDY
//- 					button.btn.btn-secondary.custom-switch(type='button') FOCUSED
//- 					button.btn.btn-secondary.custom-switch(type='button') DRIVENG
//- 					button.btn.btn-secondary.custom-switch(type='button') EXPLORING
//- 					button.btn.btn-secondary.custom-switch(type='button') ADVENTURIUS
//- 					button.btn.btn-secondary.custom-switch(type='button') PIONEERING




