section.sectiondeposit
	div.container
		div.flex-sectionone
			div.link-fix
				img.link-img(src="./images/common/link.png", alt="")
			h2.text-deposit Investing is the key to building wealth.
			p.p-deposit Slide the coin and see how your money can grow over time:
		input.input(type="range", min="0", max="1000", step='10', value='200', id="slider")
