section
	div.container
		div.flex-img
			article.easy.digit
				img.img-easy(src="/images/common/easy.png", alt="" width="400px")
				img.img-easyui(src="/images/common/easy-ui.png", alt="" width="190")
				h3.img-text  Easy
				p.p-img Get started with as little as $10 and use our top-rated mobile app to invest on the go.
			article.optimized.digit
				img(src="/images/common/optimized.png", alt="" width="400px")
				img.optimized-ui(src="/images/common/optimized-ui.png", alt="" width="240px")
				h3.img-text  Optimized
				p.p-img  We put the robots to work for you, with automated tools and strategies that help unlock your money’s potential.
			article.personalized.digit
				img(src="/images/common/personalized.png", alt="" width="400px")
				img.personalized-ui(src="/images/common/personalized-ui.png", alt="" width="240px")
				h3.img-text  Personalized
				p.p-img Customize your account, either as hands on as you want, or with our guidance along the way.


