footer
	div.container
		div.foot-centr
			div
				h2.foot-h2 Ready to invest?
				p.foot-p Create your account and start exploring your recommended portfolios.
			button.foot-btn.
				Start investing
