- const siteTitle = pageTitle ? `${pageTitle} — ${siteName}` : siteName

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content=siteDescription)

title= siteTitle



link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
link(rel="stylesheet", href="css/main.min.css?v=" + siteVersion)
script(src="https://unpkg.com/scrollreveal")
script(src="https://cdn.jsdelivr.net/npm/chart.js")
