header.page-header
	div.container
		div.flex-element
			a.logo-cont(href="")
				span.span-logo
					img.logo-main(src="images/common/logo.svg", alt="logo" )
			nav.nav-menu
				ul.menu-items
					li.menu-item
						a.menu-link(href="") Investing
							span.after-menu
						ul.submenu
							li.submenu-items
								a(href="") Automated investing
							li.submenu-items
								a(href="") IRAs and 401(k)
							li.submenu-items
								a(href="") Portfolio options
					li.menu-item
						a.menu-link(href="") Banking
							span.after-menu
						ul.submenu
							li.submenu-items
								a(href="") Checking
							li.submenu-items
								a(href="") Cash Reserve

					li.menu-item
						a.menu-link(href="") Planning
							span.after-menu
						ul.submenu
							li.submenu-items
								a(href="") Retirement planning
							li.submenu-items
								a(href="") Track your goals
							li.submenu-items
								a(href="") All-in-one dashboard

					li.menu-item
						a.menu-link(href="") Rewards
					li.menu-item
						a.menu-link(href="") About
							span.after-menu
						ul.submenu
							li.submenu-items
								a(href="") Who we are
							li.submenu-items
								a(href="") Investment Philosophy
							li.submenu-items
								a(href="") Press
							li.submenu-items
								a(href="") Pricing
							li.submenu-items
								a(href="") FAQ
							li.submenu-items
								a(href="") Articles
				ul.button-header
					li.btn-log
						a.login(href="") Log in
					li.btn-getstarted
						button.bt-getstarted  Get started
			div.burger
				div.menu

					img.icon-cross(src="./images/common/cross.svg", alt="")

					img.icon-menu(src="./images/common/menu.svg", alt="")



