include ../data/config.pug
include ../components/**/*.pug


block variables

doctype html
html(lang="en")
	head
		include ../parts/head.pug

	body(class=bodyClass class="backdrop" )
		include ../parts/mobile-menu.pug

		block header
			include ../parts/header.pug




		block content

		block footer
			include ../parts/footer.pug

		block scripts
			script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
			script(src="https://unpkg.com/scrollreveal")
			script(src="https://cdn.jsdelivr.net/npm/chart.js")
			script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
			script(src="js/main.min.js?v=" + siteVersion)



