@import "./generated/smartgrid.scss";
@import "./base/normalize.scss";
@import "./base/global.scss";
@import "./base/fonts.scss";
@import "./generated/smartgrid";
@import "./base/variables";
@import "./base/functions";
@import "./base/mixins";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/sectionheands.scss";
@import "./components/journey.scss";
@import "./components/sectionthree.scss";
@import "./components/sectionbtn.scss";
@import "./components/radiobtn.scss";
@import "./components/footer.scss";

// @import "./components/sectionone.scss";
// @import "./components/sectionanimation.scss";
body {
	background-color: #f3f4f8;
	font-size: 16px;
	font-family: $font-family-secondary;
}
